body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

header {
    background-color: #0078d7;
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #0078d7;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}
